* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*::before,
*::after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html, body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}
/*----------------------------------------------------------------*/
html, body{
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}
.wrapper {
}
.container {
	margin: 0 auto;
	width: 90%;
}

.buttons {
	display: inline-block;
	z-index: 2;
}
.buttons__container {
	display: inline-block;
	z-index: 2;
}
.button_1{
	display: inline-block;
	z-index: 2;
}
.button_1 a{
	display: inline-block;
	font-size: 20px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	padding: 35px 57px;

	background: #231D70;
	border: 1px solid #231D70;
	border-radius: 22px;
	margin-right: 28px;
	z-index: 2;
	transition-duration: .2s;
	transition-timing-function: ease;
}
.button_1 a:hover{
	padding: 36px 58px;
	font-size: 21px;

}
.button_2{
	display: inline-block;
	z-index: 2;
}
.button_2 a{
	display: inline-block;
	font-size: 20px;
	line-height: 22px;
	text-align: center;
	color: #231D70;
	padding: 35px 57px;

	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-shadow: 0px 4px 14px rgba(56, 57, 84, 0.1);
	border-radius: 22px;
	z-index: 2;
	transition-duration: .2s;
	transition-timing-function: ease;
}
.button_2 a:hover{
	padding: 36px 58px;
	font-size: 21px;
}
@media (max-width: 570px){
	.buttons {
		display: block;
	}
	.buttons__container {
		display: block;
	}
	.button_1{
		display: block;
		margin-bottom: 40px;
	}
	.button_1 a{
		display: block;
		padding: 35px 0;
		width: 100%;
	}
	.button_2{
		display: block;
	}
	.button_2 a{
		display: block;
		padding: 35px 0;
		width: 100%;
	}
}


.caption {
}
.caption__container {
	margin: 0 auto;
	max-width: 700px;
}
.caption__title {
	font-weight: 700;
	font-size: 72px;
	line-height: 84px;	
	text-align: center;
	color: #231D70;
	margin-bottom: 13px;
}
.caption__title::before{
	content: '';
	display: block;
	width: 100px;
	height: 4px;
	margin: 0 auto;
	background-color: #AB9FF8;
	margin-bottom: 20px;
}
.caption__subtitle {
	font-size: 16px;
	line-height: 38px;
	text-align: center;
	color: #595390;	
}
@media (max-width: 840px){
	.caption__container {
		margin: 0 auto;
		max-width: none;
		width: 80%;
	}
}
@media (max-width: 600px){
	.caption__title {
		font-size: 60px;
		line-height: 74px;	
	}
}
@media (max-width: 444px){
	.caption__title {
		font-size: 50px;
		line-height: 64px;	
	}
}



.first {
	background: url(../img/first-block/background.svg) 0 0/100% auto no-repeat;
}
.first__container {
}

.header {
}
.header__container {
	padding-top: 13px;
	margin-bottom: 285px;
}
.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__section {
}
.header__img {
}
.header__list {
	display: flex;
	align-items: center;
	z-index: 2;
}
.header__list li{
	margin: 0 15px;
	z-index: 2;
}
.header__list li:last-child{
	margin-left: 40px;
}
.header__link {
	font-size: 18px;
	line-height: 30px;
	color: #231D70;
	z-index: 2;
}
.header__link:hover{
	color: #222222;
}
.header__button {
}
.header__button a{
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: #FFFFFF;
	padding: 19px 25px;

	background: #231D70;
	border: 1px solid #231D70;
	border-radius: 16px;
	transition-duration: .2s;
	transition-timing-function: ease;
}
.header__button a:hover{
	font-size: 17px;
	padding: 20px 26px;
}
@media (max-width: 930px){
	.header__section:last-child {
		display: none;
	}
}
@media (max-width: 770px){
	.header__container {
		padding-top: 13px;
		margin-bottom: 150px;
	}
	.header__row {
		display: block;
	}
	.header__img {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
	}
	.header__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 2;
	}
	.header__list li{
		margin: 0 15px;
		z-index: 2;
	}
	.header__list li:last-child{
		margin: 0 15px;
	}
	.header__link {
		font-size: 25px;
		line-height: 40px;
		color: #231D70;
		z-index: 2;
	}
}
@media (max-width: 600px){
	.header__row {
		display: block;
	}
	.header__img {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
	}
	.header__list {
		display: block;
	}
	.header__list li{
		text-align: center;
		margin: 0 0 30px;

		z-index: 2;
	}
	.header__list li:last-child{
		margin: 0 0 30px;
	}
}

.hi {
}
.hi__container {
}
.hi__item {
	width: 60%;
}
.hi__title {
	font-size: 94px;
	line-height: 103px;
	color: #231D70;
	margin-bottom: 38px;
	z-index: 1;
}
.hi__text {
	z-index: 2;
	font-size: 16px;
	line-height: 38px;
	color: #3F3A75;
	margin-bottom: 32px;
}
.hi__buttons {
	position: relative;
	z-index: 2;
}
.hi__buttons__container {
	z-index: 2;
}
.first__images {
	pointer-events: none;
}
.first__image_1 {
	display: inline-block;
	position: relative;
	z-index: 2;
	bottom: 750px;
}
.first__image_2 {
	display: inline-block;
	position: relative;
	right: 300px;
	bottom: 100px;
	z-index: 1;
}
.first__image_2 img{
	z-index: 1;
}
.first__image_3 {
	display: inline-block;
	position: relative;
	bottom: 1000px;
	z-index: 1;
}
.first__image_4 {
	display: inline-block;
	position: relative;
	left: 1100px;
	bottom: 1000px;
}
@media (max-width: 1440px){
	.first {
		background: url(../img/first-block/background.svg) 0 0/auto auto no-repeat;
	}
}
@media (max-width: 1060px){
	.hi__item {
		width: 80%;
	}
	.first__image_3 {
		display: none;
	}
}
@media (max-width: 860px){
	.hi__item {
		width: 100%;
	}
}
@media (max-width: 680px){
	.first {
		background-color: #FFF9F5;
		background-image: none;
		padding-bottom: 200px;
	}
	.first__images {
		display: none;
	}
	.hi__title {
		font-size: 70px;
		line-height: 80px;
		color: #231D70;
		margin-bottom: 58px;
	}
	.hi__text {
		z-index: 2;
		font-size: 16px;
		line-height: 38px;
		color: #3F3A75;
		margin-bottom: 52px;
	}
}
@media (max-width: 430px){
	.hi__title {
		font-size: 60px;
		line-height: 70px;
		color: #231D70;
		margin-bottom: 38px;
	}
}


.numbers {
	margin-top: 150px;
}
.numbers__container {
	margin: 0 auto;
	width: 85%;
	margin-bottom: 340px;
}
.numbers__row {
}
.numbers__items {
	display: flex;
	justify-content: space-between;
}
.number__item {
}
.number__number {
	font-weight: 700;
	font-size: 94px;
	line-height: 103px;
	text-align: center;
	color: #231D70;
	margin-bottom: 6px;
}
.number__number::after{
	content: '+';
	color: #AB9FF8;
	margin-left: 20px;
}
.number__text {
	font-weight: 700;
	font-size: 24px;
	line-height: 26px;
	text-align: center;
	color: #595390;
}
@media (max-width: 1509px){
	.numbers {
		margin-top: -150px;
	}
}
@media (max-width: 1485px){
	.numbers {
		margin-top: -300px;
	}
}
@media (max-width: 1373px){
	.numbers {
		margin-top: -400px;
	}
}
@media (max-width: 1113px){
	.numbers {
		margin-top: -500px;
	}
}
@media (max-width: 1080px){
	.numbers__items {
		display: grid;
		grid-template: 1fr 1fr / 1fr 1fr;
		gap: 60px;
	}
}
@media (max-width: 1060px){
	.numbers {
		margin-top: -400px;
	}
}
@media (max-width: 680px){
	.numbers {
		margin-top: 200px;
	}
}
@media (max-width: 550px){
	.numbers__items {
		display: block;
		}
	.number__item {
		display: block;
		margin-bottom: 60px;
	}
}


.services {
	margin-bottom: -200px;
}
.services__container {
	margin: 0 auto;
	width: 85%;
}


.services__caption {
	margin-bottom: 48px;
}

.services__row {
}
.services__cards {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	gap: 48px 56px;
	margin-bottom: 140px;
}
.services__card {
	background: #FFFFFF;
	box-shadow: 0px 9px 31px rgba(23, 22, 93, 0.06);
	border-radius: 48px;
	padding: 64px 50px 69px;
}
.services__card:nth-child(even){
	position: relative;
	top: 90px;
}
.services__card__container {

}
.services__card__item {
}
.services__card__img {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}
.services__card__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 54px;
	text-align: center;
	color: #231D70;
	margin-bottom: 14px;
}
.services__card__text {
	font-size: 24px;
	line-height: 38px;	
	text-align: center;	
	color: #595390;	
}
.services__button{
	text-align: center;
}
.services__button a{
	display: inline-block;
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;

	color: #231D70;
	padding: 35px 57px;

	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-shadow: 0px 4px 14px rgba(56, 57, 84, 0.1);
	border-radius: 22px;
	transition-duration: .2s;
	transition-timing-function: ease;
}
.services__button a:hover{
	font-size: 21px;
	padding: 36px 58px;
}
.services__images {
	display: inline-block;
	pointer-events: none;
}
.services__image_1 {
	display: inline-block;
	position: relative;
	bottom: 1400px;
	left: 1100px;
}
.services__image_2 {
	display: inline-block;
	position: relative;
	bottom: 300px;
	right: 300px;
}
@media (max-width: 900px){
	.services__image_2 {
		display: inline-block;
		position: relative;
		bottom: 300px;
		right: 500px;
	}
}
@media (max-width: 850px){
	.services__cards {
		display: block;
	}
	.services__card{
		margin-bottom: 110px;
	}
	.services__card:nth-child(even){
		position: static;
		top: 0;
	}
}
@media (max-width: 628px){
	.services {
		margin-bottom: 200px;
	}
	.services__images {
		display: none;
	}
}
@media (max-width: 570px){
	.services__button a{
		display: block;
	}
}
@media (max-width: 500px){
	.services__card {
		padding: 64px 20px 69px;
	}
}


.about {
	background-color: #FFF9F5;
	padding: 150px 0 0;
}
.about__container {
}
.about__row {
}
.about__row_1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about__section {
}
.about__section__txt {
}
.about__txt__item {
}
.about__title {
	font-weight: 700;
	font-size: 72px;
	line-height: 84px;
	color: #231D70;
	margin-bottom: 21px;
}
.about__title::before{
	content: '';
	display: block;
	width: 100px;
	height: 4px;
	background-color: #AB9FF8;
	margin-bottom: 32px;
}
.about__text {
	font-weight: 400;
	font-size: 24px;
	line-height: 38px;
	color: #595390;
}
.about__text p{
	margin-bottom: 36px;
}
.about__section__img {
	margin-right: -250px;
	margin-left: 100px;
}
.about__img__items {
	display: flex;
}
.about__img__img {
	margin: 0 -15px;
}
.about__row_2 {
	display: flex;
	align-items: center;
}
.about__section__image {
	margin-left: -100px;
	margin-right: 100px;
}
.about__button a{
	display: inline-block;
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	padding: 35px 57px;

	background: #231D70;
	border: 1px solid #231D70;
	border-radius: 22px;
	transition-duration: .2s;
	transition-timing-function: ease;
}
.about__button a:hover{
	font-size: 21px;
	padding: 36px 58px;
}
.about__images {
	display: inline-block;
	pointer-events: none;
}
.about__image_1 {
	display: inline-block;
	position: relative;
	bottom: 1250px;
	left: 540px;
}
.about__image_2 {
	display: inline-block;
	position: relative;
	bottom: 200px;
	left: 100px;
}
@media (max-width: 1250px){
	.about__section__img {
		margin-right: -350px;
	}
	.about__section__image {
		margin-left: -250px;
	}
}
@media (max-width: 1110px){
	.about__section__img {
		margin-right: -450px;
	}
	.about__section__image {
		margin-left: -350px;
	}
	.about__image_2 {
		left: 0px;
	}
}
@media (max-width: 980px){
	.about__section__img {
		margin-right: -550px;
		margin-left: 50px;

	}
	.about__section__image {
		margin-left: -450px;
		margin-right: 50px;

	}
}
@media (max-width: 870px){
	.about__row_1 {
		display: block;
	}
	.about__row_2 {
		display: block;
	}
	.about__section__img {
		margin-right: 0;
		margin-left: 0;
	}
	.about__img__items {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.about__text {
		font-weight: 400;
		font-size: 24px;
		line-height: 38px;
		color: #595390;
		margin-bottom: 20px;
	}
	.about__img__img {
		width: 100%;
	}
	.about__img__img img{
		width: 100%;
	}
	.about__section__image {
		margin-left: 0;
		margin-right: 0;

	}
}
@media (max-width: 570px){
	.about__button a{
		display: block;
	}
}
@media (max-width: 580px){
	.about__image_2 {
		display: none;
	}
}
@media (max-width: 560px){
	.about__img__items {
		display: block;
	}
	.about__img__img:nth-child(2){
		display: none;
	}
	.about__title {
		font-size: 62px;
		line-height: 74px;
	}
}


.portfolio {
	margin-bottom: -150px;
}
.portfolio__container {
	padding-top: 100px;
}
.portfolio__caption {
	margin-bottom: 40px;
}
.portfolio__row {
}
.portfolio__cards {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	gap: 90px 54px;
	margin-bottom: 270px;
}
.portfolio__card {
}
.portfolio__card:nth-child(even){
	position: relative;
	top: 190px;
	z-index: 2;
}
.portfolio__card__container {
}
.portfolio__card__item {
}
.portfolio__card__img{
	margin-bottom: 30px;
}
.portfolio__card__img img{
	width: 100%;
	border-radius: 46px;
}
.portfolio__card__title {
	font-weight: 700;
	font-size: 44px;
	line-height: 56px;
	color: #231D70;
	margin-bottom: 18px;
}
.portfolio__card__link a{
	font-size: 24px;
	line-height: 26px;
	color: #231D70;	
}
.portfolio__card__link a:hover{
	content: '';
	text-decoration: underline;
}
.portfolio__buttons {
	display: flex;
	justify-content: center;
}
.portfolio__buttons__container {
}
.portfolio__images {
	display: inline-block;
}
.portfolio__image_1 {
	display: inline-block;
	position: relative;
	bottom: 500px;
	left: 1100px;
	z-index: 1;
}
.portfolio__image_2 {
	display: inline-block;
	position: relative;
	bottom: 2300px;
	right: 500px;
}
@media (max-width: 1110px){
	.portfolio__image_2 {
		bottom: 2100px;
	}
}
@media (max-width: 900px){
	.portfolio__image_2 {
		bottom: 1900px;
	}
	.portfolio__image_2 img{
		width: 350px;
	}
}
@media (max-width: 800px){
	.portfolio__cards {
		display: block;
		margin-bottom: 270px;
	}
	.portfolio__card__img{
		display: flex;
		justify-content: center;
	}
	.portfolio__card__img img{
		width: 70%;
	}
	.portfolio__card{
		margin-bottom: 130px;
	}
	.portfolio__card:last-child{
		margin-bottom: 0;
	}
	.portfolio__card:nth-child(even){
		position: static;
		top: 0;
		z-index: 2;
	}
}
@media (max-width: 753px){
	.portfolio {
		margin-bottom: 200px;
	}
	.portfolio__images {
		display: none;
	}
}
@media (max-width: 600px){
	.portfolio__card__img img{
		width: 100%;
	}
}
@media (max-width: 570px){
	.portfolio__buttons {
		display: block;
	}
}


.project {
	background-color: #231D70;
	overflow: hidden;
	padding: 150px 0 0;
}
.project__container {
	margin-bottom: -500px;
	position: relative;
	z-index: 2;
}
.project__row {
	display: flex;
}
.project__section {
}
.project__section_txt {
	width: 50%;
}
.project__txt__item {
}
.project__txt__title {
	font-weight: 700;
	font-size: 72px;
	line-height: 84px;
	color: #FFFFFF;
	margin-bottom: 15px;
}
.project__txt__title::before{
	content: '';
	display: block;
	width: 100px;
	height: 6px;
	background-color: #AB9FF8;
	margin-bottom: 38px;
}
.project__txt__text {
	font-size: 16px;
	line-height: 38px;
	color: #FFFFFF;
	margin-bottom: 40px;
}
.project__txt__button a{
	display: inline-block;
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
	color: #231D70;
	padding: 35px 57px;

	background: #FFFFFF;
	border: 1px solid #EDECF8;
	box-shadow: 0px 4px 14px rgba(56, 57, 84, 0.1);
	border-radius: 22px;
	transition-duration: .2s;
	transition-timing-function: ease;
}
.project__txt__button a:hover{
	font-size: 21px;
	padding: 36px 58px;
}
.project__section_img {
}
.project__img__item {
	overflow: hidden;
}
.project__images {
	display: inline-block;
	position: relative;
	z-index: 1;
}
.project__image_1 {
	display: inline-block;
	position: relative;
	bottom: 300px;
	left: 600px;
}
.project__image_2 {
	display: inline-block;
	position: relative;
	top: 100px;
}
@media (max-width: 1170px){
	.project {
		background-color: #231D70;
		overflow: hidden;
		padding: 150px 0 100px;
	}
	.project__section_txt {
		width: 100%;
	}
	.project__section_img {
	}
	.project__img__item{
		position: relative;
		top: 50px;
	}
	.project__img__item img{
		width: 500px;
	}
}
@media (max-width: 1070px){
	.project {
		background-color: #231D70;
		overflow: hidden;
		padding: 150px 0 200px;
	}
	.project__section_txt {
		width: 100%;
	}
	.project__section_img {
	}
	.project__img__item{
		position: relative;
		top: 150px;
	}
	.project__img__item img{
		width: 400px;
	}
}
@media (max-width: 950px){
	.project {
		background-color: #231D70;
		overflow: hidden;
		padding: 150px 0 200px;
	}
	.project__row{
		display: block;
	}
	.project__section_txt {
		width: 100%;
	}
	.project__section_img {
		display: none;
	}
}
@media (max-width: 745px){
	.project__image_1 {
		display: inline-block;
		position: relative;
		bottom: 300px;
		left: 400px;
	}
	.project__image_2 {
		display: none;
	}
}
@media (max-width: 570px){
	.project__txt__button a{
		display: block;
		text-align: center;
	}
}
@media (max-width: 500px){
	.project__txt__title {
		font-weight: 700;
		font-size: 62px;
		line-height: 74px;
		color: #FFFFFF;
		margin-bottom: 15px;
	}
	.project__image_1 {
		display: inline-block;
		position: relative;
		bottom: 300px;
		left: 300px;
	}
}
@media (max-width: 435px){
	.project__txt__title {
		font-weight: 700;
		font-size: 52px;
		line-height: 64px;
		color: #FFFFFF;
		margin-bottom: 15px;
	}
	.project__image_1 {
		display: inline-block;
		position: relative;
		bottom: 300px;
		left: 200px;
	}
}


.process {
	margin-bottom: -150px;
}
.process__container {
	padding-top: 250px;
}
.process__caption {
	margin-bottom: 60px;
}
.process__row {
}
.process__cards {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 55px;
}
.process__card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 75%;
	padding: 86px 72px;
	background: #FFFFFF;
	box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
	border-radius: 48px;
}
.process__section {
}
.process__img {
	margin-right: 32px;
}
.process__item {
}
.process__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 54px;
	color: #231D70;
	margin-bottom: 18px;
}
.process__text {
	font-size: 24px;
	line-height: 38px;
	color: #595390;
}
.process__block {
	width: 88px;
	height: 88px;
	position: relative;
	background-color: #231D70;
	border-radius: 20px;
	left: 50px;
}
.process__blocks{
	display: none;
}
.process__block_1{
	display: none;
}
.process__block_2{
	display: none;
}
.process__button {
}
.process__button__container {
}
.process__button__item{
	text-align: center;
}
.process__button__item a{
	display: inline-block;
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
	color: #FFFFFF;
	padding: 35px 57px;
	
	background: #231D70;
	border: 1px solid #231D70;
	border-radius: 22px;
	transition-duration: .2s;
	transition-timing-function: ease;
}
.process__button__item a:hover{
	font-size: 21px;
	padding: 36px 58px;
}
.process__images {
	display: inline-block;
}
.process__image_1 {
	display: inline-block;
	position: relative;
	bottom: 800px;
	left: 900px;
}
.process__image_2 {
	display: inline-block;
	position: relative;
	bottom: 300px;
	right: 400px;
}
@media (max-width: 1000px){
	.process__card {
		padding: 36px 22px;
	}
	.process__block {
		width: 88px;
		height: 88px;
		position: relative;
		background-color: #231D70;
		border-radius: 20px;
		left: 30px;
	}
	.process__img img{
		width: 200px;
	}
	.process__image_2 {
		display: inline-block;
		position: relative;
		bottom: 200px;
		right: 400px;
	}
}
@media (max-width: 768px){
	.process__card {
		display: block;
	}
	.process__img {
		display: flex;
		justify-content: center;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.process__title {
		text-align: center;
	}
}
@media (max-width: 700px){
	.process {
		margin-bottom: 200px;
	}
	.process__cards{
		align-items: start;
	}
	.process__block {
		display: none;
	}
	.process__blocks{
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		width: 75%;
		margin-bottom: 120px;
	}
	.process__block_1{
		display: block;
		width: 58px;
		height: 58px;
		background-color: #231D70;
		border-radius: 20px;
	}
	.process__block_2{
		display: block;
		width: 58px;
		height: 58px;
		background-color: #231D70;
		border-radius: 20px;
	}
	.process__images {
		display: none;
	}
}
@media (max-width: 570px){
	.process__button{
		width: 90%;
		margin: 0 auto;
	}
	.process__button__item a{
		display: block;
	}
}

.pink{
	background-color: #FFF9F5;
	margin-bottom: -160px;
}
@media (max-width: 1160px){
	.pink{
		margin-bottom: -370px;
	}
}
@media (max-width: 800px){
	.pink{
		margin-bottom: -500px;
	}
}
.articles {
	overflow: hidden;
}
.articles__container {
	padding-top: 200px;
}
.articles__titles {
}
.articles__title {
	font-weight: 700;
	font-size: 72px;
	line-height: 84px;
	color: #231D70;
	margin-bottom: 13px;
}
.articles__title::before{
	content: '';
	display: block;
	width: 100px;
	height: 4px;
	background-color: #AB9FF8;
	margin-bottom: 20px;
}
.articles__title__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 45px;
}
.articles__text {
	width: 50%;
	font-size: 16px;
	line-height: 38px;
	color: #595390;
}
.articles__button a{
	display: inline-block;
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
	text-align: center;
	color: #231D70;
	padding: 35px 57px;
	
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-shadow: 0px 4px 14px rgba(56, 57, 84, 0.1);
	border-radius: 22px;
	transition-duration: .2s;
	transition-timing-function: ease;
}

.articles__button a:hover{
	font-size: 21px;
	padding: 36px 58px;
}
.articles__cards {
	display: grid;
	grid-template: 1fr / 1fr 1fr;
	gap: 0 52px;
}
.articles__card {

}
.articles__card__item {
}
.articles__card__img {
	height: 412px;
   position: relative;
   overflow: hidden;
   width: 100%;
	border-radius: 32px;
	margin-bottom: -30px;
}
.articles__card__img img{
   position: absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   height: 450px;
   object-fit:cover;
   width: 100%;
}
.articles__card__button {
	display: inline-block;
	position: relative;
	z-index: 2;
	bottom: 350px;
	left: 30px;
}
.articles__card__button a{
	display: inline-block;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	color: #231D70;
	padding: 18px 29px;
	
	background: #FFFFFF;
	border: 1px solid #E0E3EA;
	box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
	border-radius: 14px;
	transition-duration: .2s;
	transition-timing-function: ease;
}

.articles__card__button a:hover{
	font-size: 19px;
	padding: 19px 30px;
}
.articles__card__text{
	padding-left: 10px;
}
.articles__card__title{
}
.articles__card__title a{
	display: inline-block;
	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
	color: #231D70;
	margin-bottom: 18px;
}
.articles__card__title a:hover{
	text-decoration: underline;
}
.articles__card__data {
	font-size: 20px;
	line-height: 22px;
	color: #595390;
	
}
.articles__images {
	display: inline-block;
}
.articles__image_1 {
	display: inline-block;
	position: relative;
	bottom: 1100px;
	right: 200px;
}
.articles__image_2 {
	display: inline-block;
	position: relative;
	left: 650px;
}
@media (max-width: 1020px){
	.articles__image_2 {
		display: none;
	}
}
@media (max-width: 900px){
	.articles__image_1 {
		display: inline-block;
		position: relative;
		bottom: 1100px;
		right: 300px;
	}
}
@media (max-width: 800px){
	.articles__title__row {
		margin-bottom: 90px;
		display: block;
	}
	.articles__cards {
		display: block;
	}
	.articles__card{
		margin-bottom: 90px;
	}
	.articles__text {
		width: 100%;
		margin-bottom: 60px;
	}
}
@media (max-width: 600px){
	.articles__title {
		font-size: 62px;
		line-height: 74px;
	}
}
@media (max-width: 570px){
	.articles__button a{
		display: block;
	}
}
@media (max-width: 460px){
	.articles__title {
		font-size: 52px;
		line-height: 64px;
	}
}
@media (max-width: 360px){
	.articles__title {
		font-size: 42px;
		line-height: 54px;
	}
}

.work {
	background: #FFFFFF;
	box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
	border-radius: 30px;
	margin: 0 auto;
	width: 90%;
	position: relative;
	overflow: hidden;
}
.work__container {
	padding: 85px 96px;
	position: relative;
	z-index: 2;
	margin-bottom: -350px;
}
.work__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.work__section {
}
.work__text {
	width: 70%;
	font-size: 72px;
	line-height: 84px;
	color: #231D70;
}
.work__text::before{
	content: '';
	display: block;
	width: 100px;
	height: 6px;
	background-color: #AB9FF8;
	margin-bottom: 38px;
}
.work__buttons {
}
.work__button_1{
	margin-bottom: 32px;
}
.work__button_1 a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 376px;
	height: 92px;
	font-weight: 400;
	font-size: 20px;
	line-height: 22px;
	color: #FFFFFF;
	
	background-color: #231D70;
	border: 1px solid #231D70;
	border-radius: 22px;
	transition-duration: .2s;
	transition-timing-function: ease;
}
.work__button_1 a:hover{
	font-size: 21px;
	width: 378px;
	height: 94px;
}
.work__button_2 a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 376px;
	height: 92px;
	font-size: 20px;
	line-height: 22px;
	color: #231D70;

	background-color: #FFFFFF;
	border: 1px solid #EDECF8;
	box-shadow: 0px 4px 14px rgba(56, 57, 84, 0.1);
	border-radius: 22px;
	transition-duration: .2s;
	transition-timing-function: ease;
}
.work__button_2 a:hover{
	font-size: 21px;
	width: 378px;
	height: 94px;
}
.work__images {
	display: inline-block;
	position: relative;
	pointer-events: none;
}
.work__image_1 {
	display: inline-block;
	position: relative;
	bottom: 100px;
	right: 100px;
	z-index: 1;
}
.work__image_2 {
	display: inline-block;
	position: relative;
	left: 650px;
	bottom: 100px;
	z-index: 3;
}
.work__image_3 {
	display: inline-block;
	position: relative;
	right: 200px;
	top: 100px;
}
@media (max-width: 1160px){
	.work {
		bottom: 150px;
	}
	.work__row {
		display: block;
	}
	.work__text {
		width: 100%;
		font-size: 62px;
		line-height: 74px;
		margin-bottom: 80px;
	}
	.work__buttons {
		display: flex;
		justify-content: space-between;
	}
}
@media (max-width: 1080px){
	.work__container {
		padding: 55px 66px;
		margin-bottom: -370px;
	}
}
@media (max-width: 1020px){
	.work__container {
		padding: 55px 46px;
		margin-bottom: -300px;
	}
	.work__buttons {
		display: block;
	}
	.work__image_2 {
		display: none;
	}
	.work__image_3 {
		display: none;
	}
}
@media (max-width: 800px){
	.work {
		bottom: 250px;
	}
}
@media (max-width: 700px){
	.work__text {
		width: 100%;
		font-size: 52px;
		line-height: 64px;
		margin-bottom: 80px;
	}
	.work__text::before{
		content: '';
		display: block;
		width: 100px;
		height: 6px;
		background-color: #AB9FF8;
		margin-bottom: 28px;
	}
}
@media (max-width: 570px){
	.work__button_1{
		margin-bottom: 62px;
	}
	.work__button_1 a{
		display: block;
		width: auto;
		height: auto;
		text-align: center;
		padding: 35px 17px;
	}
	.work__button_1 a:hover{
		font-size: 21px;
		padding: 36px 18px;
	}
	.work__button_2 a{
		display: block;
		width: auto;
		height: auto;
		text-align: center;
		padding: 35px 17px;
	}
	.work__button_2 a:hover{
		font-size: 21px;
		padding: 36px 18px;
	}
}
@media (max-width: 460px){
	.work__container {
		padding: 55px 26px;
		margin-bottom: -280px;
	}
}


.footer {
	background-color: #231D70;
}
.footer__container {
	padding: 340px 0 0;
}
.footer__row {
	display: flex;
	margin-bottom: 140px;
}
.footer__section {
}
.footer__section__logos {
}
.fooler__logos__item {
}
.footer__logo {
	margin-bottom: 29px;
}
.footer__logos__text {
	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF;
	margin-bottom: 16px;
}
.footer__blocks {
}
.footer__block {
	display: inline-block;
	background: #FFFFFF;
	border-radius: 11px;
	width: 36px;
	height: 36px;
	margin-right: 15px;
}
.footer__section__text {
	margin-left: 138px;
}
.footer__text__row {
	display: flex;
	align-items: center;
}
.footer__text__block {
	width: 170px;
}
.footer__text__block:last-child{
	margin-left: 157px;
}
.footer__text__block:nth-child(2){
	margin-left: 77px;
}
.footer__title {
	font-size: 20px;
	line-height: 22px;
	color: #FFFFFF;
	margin-bottom: 35px;
}
.footer__list {
}
.footer__list li{
	margin-bottom: 20px;
}
.footer__link {
	font-size: 24px;
	line-height: 26px;
	color: #FFFFFF;
}
.footer__link:hover{
	text-decoration: underline;
}
.footer__copy {
	border-top: 1px solid #3F3A75;
	padding: 43px 0;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;
}
@media (max-width: 1280px){
	.footer__section__text {
		margin-left: 77px;
	}
	.footer__text__block:last-child{
		margin-left: 77px;
	}
}
@media (max-width: 1130px){
	.footer__row {
		display: block;
	}
	.footer__section__logos {
		margin-bottom: 50px;
	}
	.footer__logos__text {
		margin-bottom: 40px;
	}
	.footer__blocks {
		display: flex;
		justify-content: space-between;
	}
	.footer__text__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.footer__section__text {
		margin-left: 0;
	}
}
@media (max-width: 800px){
	.footer__container {
		padding: 400px 0 0;
	}
}
@media (max-width: 720px){
	.footer__text__row {
		display: grid;
		grid-template: 1fr 1fr / 1fr 1fr;
	}
	.footer__text__block {
		width: auto;
	}
	.footer__text__block:first-child {
		order: 1;
	}
	.footer__text__block:last-child{
		order: 2;
	}
	.footer__text__block:nth-child(2){
		order: 3;
		margin-left: 0;
		margin-top: -100px;
	}
	.footer__title {
		font-size: 27px;
		line-height: 32px;
		color: #FFFFFF;
		margin-bottom: 35px;
	}
	.footer__list li{
		margin-bottom: 30px;
	}
	.footer__link {
		font-size: 30px;
		line-height: 36px;
		color: #FFFFFF;
	}
}
@media (max-width: 520px){
	.footer__text__row {
		display: block;
	}
	.footer__text__block{
		margin-bottom: 70px;
	}
	.footer__text__block:last-child{
		margin-left: 0;
	}
	.footer__text__block:nth-child(2){
		order: 3;
		margin-left: 0;
		margin-top: 0;
	}
}